.classList {
  position: relative;
  width: 90%;
  left: 2%;
  top: 8%;
  padding: 10px;
  border-radius: 45px;
  box-shadow: 2px 14px 28px rgba(34, 68, 68, 0.63) , 3px 10px 10px rgba(14, 61, 70, 0.445);
}
.search-bar {
  display: flex;
  left: 22%;
  width: 80%;
  height: 55px;
  margin: 0 auto;
  padding: 5px;
  grid-column: 2;
  grid-row: 1;
  column-gap: 4px;
  margin: 1rem;      
}
.search-bar input[type="text"] {
     position: relative;
      width: 80%;
      height: 4rem;
      padding: 10px;
      border: none;
      border-radius: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      font-size: 16px;          
    }

    .search-bar input[type="submit"] {
      position: relative;
      margin-left: 10px;
      width: 12rem;
      height: 4rem;
      background-color: #48afc6;
      border: none;
      border-radius: 20px;
      color: #fff;
      font-size: 20px;
      cursor: pointer;
    }


    .patient-records {
      display: grid;
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-rows: auto 1fr 1fr 1fr;
      gap: 20px;
      padding: 20px;
    }

    .menu {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
      }
    
      .menu ul {
        list-style: none;
        padding-left: 25px;
      }
    
      .menu ul li {
        margin: 8px 0;
      }
    
      .menu a {
        display: block;
        padding: 10px;
        background-color: #eee;
        color: #333;
        text-decoration: none;
        border-radius: 4px;
      }
    
      .menu li,a:hover {
        background-color: #ddd;
      }
    
    
    .records-table {
      grid-column: 2 / 3;
      grid-row: 2;
      margin-bottom: 20px;
    }
    .records-table th {
      color: #333;
    }

    .records-table table {
      border-collapse: collapse;
      width: 100%;
    }

    .records-table th,
    .records-table td {
      border: 1px solid #ccc;
      padding: 8px;
      text-align: left;
    }

    .records-table th {
      background-color: #eee;
    }
    
    #curr {
      background-color: #3e8e41;
      color: #ccc;
      border-radius: 5px;
  }
   

.patient-management p {
    display: block;
    padding: 10px;
    background-color: #eee;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
  }
  li .se .patient-management h3:hover {
    background-color: #ddd;
  }
    .search-patient {
        background-color: #333;
        color: #ccc;
        
    }
 