.classList {
    position: relative;
    width: 90%;
    left: 2%;
    top: 8%;
    padding: 10px;
    border-radius: 45px;
    box-shadow: 2px 14px 28px rgba(34, 68, 68, 0.63) , 3px 10px 10px rgba(14, 61, 70, 0.445);
  }
  .search-bar {
    display: flex;
    left: 22%;
    width: 80%;
    height: 55px;
    margin: 0 auto;
    padding: 5px;
    grid-column: 2;
    grid-row: 1;
    column-gap: 4px;
    margin: 1rem;      
  }
  .search-bar input[type="text"] {
    position: relative;
     width: 80%;
     height: 4rem;
     padding: 10px;
     border: none;
     border-radius: 20px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
     font-size: 16px;          
   }
  
      .search-bar input[type="submit"] {
        position: relative;
        margin-left: 24rem;
        width: 12rem;
        height: 4rem;
        background-color: #48afc6;
        border: none;
        border-radius: 20px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
      }
  
  
   
    .patient-records {
      display: grid;
      grid-template-columns: 1fr 4fr;
      grid-template-rows: auto 1fr 1fr 1fr;
      gap: 20px;
      padding: 20px;
    }
  
    .menu {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
    }
  
    .menu ul {
      list-style: none;
      padding-left: 25px;
    }
  
    .menu ul li {
      margin: 8px 0;
    }
  
    .menu a {
      display: block;
      padding: 10px;
      background-color: #eee;
      color: #333;
      text-decoration: none;
      border-radius: 4px;
    }
  
    .menu li,a:hover {
      background-color: #ddd;
    }
  
    .record-form {
      grid-column: 2 / 4;
      grid-row: 2;
      padding: 20px;
      max-width: 75%;
      margin-top: 1rem;
    }
    form {
      display: grid;
     grid-template-columns: 1fr 2fr;
      justify-content: space-around;
      grid-template-rows: auto;
    }
  
    .record-form h3 {
      margin-top: 0;
    }
  
    label {
      display: block;
      margin-bottom: 5px;
    }
  
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="date"] {
      width: 48%;
      padding: 5px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      font-size: 16px;
    }
  
    .record-form button[type="submit"] {
      background-color: #4caf50;
      color: #fff;
      padding: 8px 16px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      width: 100%;
      height: 5rem;
    }
  
    .record-form button[type="submit"]:hover {
      background-color: #3e8e41;
    }
    #curr {
      background-color: #3e8e41;
      color: #ccc;
      border-radius: 5px;
  }
    .patient-management p a{
      display: block;
      margin-bottom: 8px;
      padding: 10px;
      background-color: #eee;
      color: #333;
      text-decoration: none;
      border-radius: 4px;
    }
    li .se .patient-management h3:hover {
      background-color: #ddd;
    }